.grid {
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
}

.grid div {
	width: 20px;
	height: 20px;
}

.apple {
	background-color: red;
}

.snake {
	background-color: blue;
}


